<li>
	{{name}}

	<button class="change-state" data-id="{{id}}" data-devourstate="{{devoured}}">
		{{#if devoured}}devoured{{else}}EAT ME{{/if}}
	</button>

	<button class="delete" data-id="{{this.id}}">DELETE!</button>
</li>
